section.hero {
    margin-top: 3rem;
}


/* LEFT SECTION */
section.hero .parent-avatar {
    align-items: end;
    gap: .6rem;
}

section.hero .left-secton {
    flex-grow: 1;
}

.avatar {
    border-radius: 50%;
    width: 88px;
    border: 1px solid goldenrod;
    padding: 1.5px;
    box-shadow: 2px 2px 40px rgb(187, 177, 177) inset;
    margin-right: 16px;
}

.myname {
    font-size: 1.6rem;
    margin-bottom: .3rem;
}

.light #primaryName {
    color: var(--title);

}


.icon-verified {
    color: var(--blue);
}


section.hero h1.title {
    font-size: 2.85rem;
    line-height: 3.3rem;
    margin: 24px 0;
    color: var(--title);

}

section.hero p.subtitle {
    color: var(--subtitle);
    font-size: .9rem;
    line-height: 1.65rem;
    margin-bottom: 32px;
}

section.hero .allicons {
    font-size: 1.3rem;
    gap: 1.5rem;
    /* color: var(--subtitle); */
}

section.hero .allicons .icon {
    color: var(--subtitle);

}

section.hero .allicons .icon:hover {
    font-size: 1.4rem;
    transition: .3s;
    cursor: pointer;
    color: var(--icon-hover);
}



/* RIGHT SECTION */
section.hero .animation {
    width: 100%;
}

@media (max-width: 1250px) {
    section.hero .animation {
        display: none;
    }
}