@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
  font-family: "Roboto", sans-serif;
  letter-spacing: .1px;
  /* box-sizing: border-box; */
}

*{
  margin: 0;
  padding: 0;
}
/* *,
*:before,
*:after {
  box-sizing: inherit;
} */


:root {
  --primary: #000;
  --secondary: rgb(24 24 27);
  --border: rgba(63, 63, 70, 0.4);
  --title: rgb(244 244 245);
  --subtitle: rgb(161 161 170);
  --bgheader: rgb(39 39 42);
  --blue: rgb(93 183 252);

}

.light {
  --primary: #fff;
}


body {
  background-color: var(--primary);
  color: #fff;
}

.container {
  border: 2px solid var(--border);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--secondary);
}

.divider{
  border-bottom:  1px solid var(--border);
  margin: 3rem 0;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: initial;
  transition: 0.2s;
}

a:hover{
  cursor: pointer;
}

.flex{
  display: flex;
  align-items: center;
}

.border{
  border: 2px solid red;
}

button:hover{
  cursor: pointer;
}

button{
  all: unset;
}
button:hover{
cursor: pointer;
}
button:active{
scale: 0.90;
}
